<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
>
<div layout:fragment="MainContent">
    <div layout:fragment="SectionContent">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <img th:src="'https://unavatar.io/' + ${student.id}" class="img-fluid" alt="Imagen del producto">
                </div>
                <div class="col-md-6">
                    <h2 th:text="${student.firstName}">Nombre del Producto</h2>
                    <p class="text-muted">Categoría: Categoria del Producto</p>
                    <p class="lead">$XX.XX</p>
                    <p>Descripción del producto: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet gravida tortor, et tincidunt neque. Quisque nec lorem vel ligula commodo blandit ac vel lectus.</p>
                    <button type="button" class="btn btn-primary">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>